
html
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block head
    block styles
  body
    main
      block header
        header.header
            h1 #{title}
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
                    div(class="collapse navbar-collapse" id="navbarSupportedContent")
                          ul.nav.navbar-nav
                            li.active: a(href="#") About Me
                            li: a(href="#about") GitHub
                            li: a(href="#about") LinkedIn
                            li: a(href="#contact") Contact

      block content