
extends default
block head
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
block styles
    style
        include standard.css
block content
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
                    div(class="collapse navbar-collapse" id="navbarSupportedContent")
                          ul.nav.navbar-nav
                            li.active: a(href="aboutme.pug") About Me
                            li: a(href="techspec.pug") Github/Projects
                            li: a(href="https://www.linkedin.com/in/bhav-singh/") LinkedIn
                            li: a(href="contact") Contact

    div(class="container")
        div(class="row")
        div(class="row justify-content-md-center")
            div(class="col-xs-4")
                p Hello!
            div(class="col-auto")
                img#self(src="self.jpg" alt="")



