
extends default
block head
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
block styles
    style
        include home.css
block content

    div(class="container")
        div(class="row")
        div(class="row justify-content-md-center")
            div(class="col-xs-4")
                p I'm an aspiring Software Developer who goes to USC(so fight on!) and majors in Computer Science. I'm from NY and originally from Punjab, India, and although I'm goofy I'm not actually a cartoon like this picture...In my free time I code, perform calisthenics, and travel! This website is actually my first Node.js website and was made using Node.js, Bootstrap, CSS, HTML5, and  Pug!
            div(class="col-auto")
                img#self(src="self.jpg" alt="")



